html, body{
  	font-family: 'Lato', sans-serif;
    font-size: 100%;
  	 background: #FFf;
}
/*-----start-header----*/
.logo{
	float: left;
}
.logo a{
	color: #fff;
	font-weight: 200;
	text-transform: uppercase;
}

.logo a img {
	margin-top: 8px;
	height: 50px;
}
.logo a:hover{
	text-decoration:none;
}
/*----navbar-nav----*/
.top-header{
	background: #02918C;
	position: fixed;
	width: 100%;
	z-index: 1;
}
.top-nav ul li a{
	color: #FFFFFF;
	padding: 0.2em 1.5em;
	font-size: 0.875em;
	font-weight: 400;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	font-weight: 900;
}
.top-nav ul li a:hover{
	color:#0B1016;
}
.logo a{
	display:block;
}
/* top-nav */
nav {
	position: relative;
	float: right;
}
nav ul {
	padding: 0;
	float: right;
	margin: 0.5em 0;
}
nav li {
	display: inline;
	float: left;
	position:relative;
}
nav a {
	color: #fff;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	line-height: 40px;
}
nav a:hover{
	text-decoration:none;
}
nav a#pull {
	display: none;
}
/*---- banner ----*/
.banner{
	background:url(../images/giresun5.jpg) no-repeat 0px 0px;
	background-size:cover;
	min-height:750px;
	position:relative;
}
.banner-info h1{
	font-size: 5em;
	font-weight: 900;
	margin: 0;
	padding: 20% 0 0 0;
	color: #02918C;
	text-transform: uppercase;
	letter-spacing: 0.15em;
}
/*-- //banner ----*/
.contact {
	text-align: center;
	padding: 3.5em 0 5em;
	
#lavinia {
	height: 100px;}
}
/*---- about ----*/
.about{
	padding: 3.5em 0 5em;
}
.about-head h2{
	color:#02918C;
	font-weight:900;
	font-size:3em;
	margin:0;
	padding:0;
}
.about-head p{
	color: #7E8287;
	font-size: 1.2em;
	font-weight: 300;
	width: 80%;
	line-height:1.8em;
	margin: 1em auto;
}
/*----about-grids---*/
.about-grids{
	padding:2em 0 1em;
}
.about-grid{
	position:relative;
	padding:1em 0;
}
.about-grid span{
	width:33px;
	height:34px;
	display:inline-block;
	background:url(../images/about-icons.png) no-repeat 0px 0px;
}
.about-grid h3{
	margin: 0.5em 0 0;
	padding:0;
	color: #7E8287;
	font-weight: 400;
	font-size: 1.3em;
}
.about-grid p{
	color: #7E8287;
	font-size: 0.875em;
	line-height: 1.8em;
	width: 84%;
	margin: 0.6em auto;
}
.about-grid span.pen-icon{
	background-position: -44px 0px;
}
.about-grid span.cog-icon{
	background-position: -87px 0px;
}
.about-grid span.mon-icon{
	background-position: -128px 0px;
}
/*----//about ----*/
